@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Russo+One&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 22px;
    font-family: Mukta, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
header h1 {
    grid-column: 4/6;
    grid-row: 2/3;
    color: white;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 0;
    font-family: "Russo One", verdana, sans-serif;
}
header p {
    grid-column: 3/7;
    grid-row: 3/4;
    color: white;
    text-align: left;
}
nav{
    display: table;
    justify-content: space-around;
    align-items: center;
    background-color: #0C398A;
    grid-column: 2/9;
    grid-row: 1/2;
    width: 100%;
}
#logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}
#home-link {
    width: 33%;
}
#general-link {
    width: 33%;
}
#solve-link {
    width: 33%;
}
nav a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #46C5FD;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
}
nav a:hover {
    background-color: #33261D;
    color: #DB9025;
    transition: .5s;
}
#banner {
    grid-column: 1/9;
    grid-row: 2/5;
    z-index: -1;
    width: 100%;
    border-bottom: 5px solid black;
}
#cubes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: 5px solid black;
    background-color: lightgray;
}
#cubes h2 {
    color: #33261D;
    text-align: center;
    font-family: "Russo One", verdana, sans-serif;
}
#cubes p {
    color: #33261D;
    font-size: .85em;
    width: 60%;
    display: block;
    margin: 10px auto;
}
#cubes img {
    border: 5px solid black; 
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    transition: transform 0.5s;
    transition: .5s;
}
#cubes img:hover {
    opacity: .6;
    transform: scale(1.05);
}
#home-rubiks {
    grid-column: 1/2;
    width: 100%;
}
#square1 {
    grid-column: 2/3;
    width: 100%;
}
#skewb {
    grid-column: 3/4;
    width: 100%;
}
#about-me {
    padding-bottom: 60px;
    padding-top: 30px;
    border-bottom: 5px solid black;
}
#about-me h2 {
    text-align: center;
    font-family: "Russo One", verdana, sans-serif;
    color: #33261D;
}
#about-me p {
    margin: 0 auto;
    width: 90%;
    color: #33261D;
}
#generalinformation {
    font-size: 25px;
    font-family: Mukta, Helvetica, sans-serif;
    color: #33261D;
}
#generalinformation h2 {
    font-size: 35px;
    font-family: "Russo One", verdana, sans-serif;
    color: #33261D;
    text-align: center;
    text-decoration: underline;
}
#geninfo-rubiks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 50px 50px 50px;
    justify-content: center;
    align-items: center;
    border-top: 5px solid black;
}
#geninfo { 
    grid-column: 1/2;
    width: 80%;
    padding-left: 30px;
}
#geninfo-rubiks img {
    justify-self: center;
    grid-column: 2/3;
    width: 70%;
    border: 5px solid black;
    border-radius: 5px;
}
#speedcubing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-top: 5px solid black;
}
#speedinfo {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 80%;
    padding-right: 30px;
}
#speedcubing img {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 70%;
    border: 5px solid black;
    border-radius: 5px;
}
#fun-facts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 50px 50px 50px;
    justify-content: center;
    align-items: center;
    border-top: 5px solid black;
}
#funinfo {
    grid-column: 1/2;
    width: 80%;
    padding-left: 30px;
}
#fun-facts img {
    justify-self: center;
    grid-column: 2/3;
    width: 70%;
    border: 5px solid black;
    border-radius: 5px;
}
#terminology {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 50px 50px 50px;
    justify-content: center;
    align-items: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: lightgrey;
}
#terminfo {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 80%;
    padding-right: 30px;
}
#terminology img {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 70%;
    border: 5px solid black;
    border-radius: 5px;
}
footer {
    background-color: #0C398A;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: space-around;
    align-items: center;
}
footer p {
    color: #46C5FD;
    padding-left: 30px;
    grid-column: 1/5;
}
#site-plan-link {
    grid-column: 6/7;
}
#facebook-icon {
    grid-column: 7/8;
}
#instagram-icon {
    grid-column: 8/9;
}
footer a {
    color:#46C5FD;
    text-decoration: none;
    text-align: center;
}
footer a:hover {
    color: #DB9025;
}
footer img {
    display: block;
    margin: 0 auto;
    transition: transform 0.5s;
    width: 65px;
}
footer img:hover {
    opacity: .8;
    transform: scale(1.1);
}